<div {{bind-attr class=":wrapper fancy:fancy:"}}>
  <div id="calculator">
    <div class="result-row">
      <div class="result">
        {{input value=resultDisplayValue}}
      </div>
      <div class="equals">
        {{calculator-button symbol="=" value="=" action="operationButtonClicked"}}
      </div>
    </div>
    <div class="keypad">
      {{liquid-outlet}}
    </div>
  </div>
  {{#unless fancy}}
    <div class="goFancy">
      <button {{action 'increaseTheFancy'}}><h2>Go Fancy!</h2></button>
    </div>
  {{/unless}}
</div>
