<div class="row">
  {{calculator-button symbol="7" value="7" action="buttonClicked"}}
  {{calculator-button symbol="8" value="8" action="buttonClicked"}}
  {{calculator-button symbol="9" value="9" action="buttonClicked"}}
  {{calculator-button symbol="+" value="+" action="buttonClicked"}}
</div>
<div class="row">
  {{calculator-button symbol="4" value="4" action="buttonClicked"}}
  {{calculator-button symbol="5" value="5" action="buttonClicked"}}
  {{calculator-button symbol="6" value="6" action="buttonClicked"}}
  {{calculator-button symbol="-" value="-" action="buttonClicked"}}
</div>
<div class="row">
  {{calculator-button symbol="1" value="1" action="buttonClicked"}}
  {{calculator-button symbol="2" value="2" action="buttonClicked"}}
  {{calculator-button symbol="3" value="3" action="buttonClicked"}}
  {{calculator-button symbol="&#x00D7;" value="x" action="buttonClicked"}}

</div>
<div class="row">
  {{calculator-button symbol="&#x22C5" value="."}}
  {{calculator-button symbol="0" value="na" action="buttonClicked"}}
  {{calculator-button symbol="" value="na"}}
  {{calculator-button symbol="&#xF7;" value="d" action="buttonClicked"}}
</div>
